<div class="col-sm-12 col-lg-5 login-col text-center">
    <div class="row ">
        <div class="row mt-5 mx-auto">
            <div class="col text-center"><u>Login Here</u></div>
        </div>
        <br>
        <form action="login" method="post">
            <div class="row">
                <br>
                <div class="col">
                    <label>Email:</label>
                    <input type="text" name="username" />
                </div>
                <div class="col">
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-secondary" value="Log In ">Enter</button>
                </div>
                <div class="col">
                    <p><a href="#">forgot your password ?</a></p>
                </div>

            </div>
            <br>
            <h4 class="h4 text-center">or </h4>
        </form>
    </div>
    <br>
    <div class="row">
        <type="button" onclick="window.location.href = '/auth/facebook';" class="btn btn-primary btn-lg btn-block text-left" value="value" id="login_btn__fb">Login as
                            facebook account</button>
    </div>
    <br>
    <div class="row">
        <type="button" onclick="window.location.href = '/auth/google';" class="btn btn-light btn-lg btn-block text-left text-red" value="value" id="login_btn__gle">Login as google account</button>
    </div>
</div>