/* html{
    
} */

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-weight: 600;
    line-height: 1.7;
}

.ad_login_section {
    margin: 100px;
    padding-top: 50px;
}

.footer_co_policy a {
    color: white;
}